<!DOCTYPE html>
<html>
  <head>
    <title>SignUp Page</title>
    <link rel="stylesheet" type="text/css" href="style.css"> <!-- include external CSS file -->
  </head>
  <body>
    <div class="container" id="afterSignUp-container">
      <h1 id="afterSignUp-h1">Thanks for Contributing :D</h1>
      <a href="http://localhost:3010/">Return to Login Page~</a>
    </div>
  </body>
</html>
