<!DOCTYPE html>
<html>
  <head>
    <title>Password Reset</title>
    <link rel="stylesheet" type="text/css" href="style.css"><!-- include external CSS file -->
  </head>
  <body>
    <form >

    </form>
  </body>
</html>
