<!DOCTYPE html>
<html>
  <head>
    <title>Password Reset</title>
    <link rel="stylesheet" type="text/css" href="style.css"><!-- include external CSS file -->
  </head>
  <body>
    <div class="container" id="container-fg">
      <h1>Please enter your details</h1>
      <p>We will send you an Email on your registered mail with the instructions.</p>
      <form action="/forgotPass" method="post">
        <input type="text" id="email" placeholder="Please enter your associated Email." name="Email" autocomplete="off" required>
        <button type="submit">Reset</button>
      </form>
    </div>
  </body>
</html>
