<!DOCTYPE html>
<html>
  <head>
    <title>Password Reset</title>
    <link rel="stylesheet" type="text/css" href="style.css"><!-- include external CSS file -->
  </head>
  <body>
    <div class="container">
      <form action="/forgotPass" method="post">
        <input type="text" id="email" placeholder="Please enter your associated Email." name="Email" autocomplete="off" required>
      </form>
    </div>
  </body>
</html>
