<!DOCTYPE html>
<html>
  <head>
    <title>SignUp Page</title>
    <link rel="stylesheet" type="text/css" href="style.css"> <!-- include external CSS file -->
  </head>
  <body>
    <div class="container" id="loginSuccess-container">
      <h1 id="loginSuccess-h1">Invalid Credentials...</h1>
      <a href="/">Go to login page</a>
    </div>
  </body>
</html>
