body{
    background-color: #F5EBEB;
}

.container {
    background-color: #e4d0d0;
    width: 300px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    box-shadow: 7px 10px 12px -5px rgba(0,0,0,0.46);
    border-radius: 30px;
  }

h1 {
    font-family: "Bradley Hand", cursive;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.611);
    font-size: larger;
}

p {
    margin-top: 0px;
    font-size: small;
    color: rgba(0, 0, 0, 0.574)
}

a {
    text-decoration: none;
}

#forgot {
    display: flex;
    margin-left: 200px;

    cursor: pointer;
}

#username {
    background-color: #D5B4B4;
    color: #0000009c;

    border: none;
    border-radius: 10px;
    margin-top: 25px;
    padding: 10px;
    height: 25px;
    width: 280px;
    outline: none;
    text-align: left;

    box-shadow: 7px 6px 44px -5px rgba(0,0,0,0.21);

    font-family: monospace;
    font-weight: 200;
    font-size: large;    
}

#email {
    background-color: #D5B4B4;
    color: #0000009c;

    border: none;
    border-radius: 10px;
    margin-top: 15px;
    padding: 10px;
    height: 25px;
    width: 280px;
    outline: none;
    text-align: left;

    box-shadow: 7px 6px 44px -5px rgba(0,0,0,0.21);

    font-family: monospace;
    font-weight: 200;
    font-size: large;
}

#password {
    background-color: #D5B4B4;
    color: #0000009c;

    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 15px;
    padding: 10px;
    height: 25px;
    width: 280px;
    outline: none;
    text-align: left;

    box-shadow: 7px 6px 44px -5px rgba(0,0,0,0.21);

    font-family: monospace;
    font-weight: 200;
    font-size: large;
}

button{
    outline: none;
    display: flex;
    display: block;
    background-color: #867070;
    color: rgba(245, 245, 245, 0.704);

    margin-top: 50px;
    padding: 10px;

    border: none;
    border-radius: 20px;
    height: 45px;
    width: 300px;
    

    box-shadow: 10px 10px 103px -1px rgba(0,0,0,0.71);

    font-family: monospace;
    font-weight: 100;
    font-size: medium;

    cursor: pointer;
}

#noaccount {
    margin-top: 65px;
}

